:root {
  --slightly-desaturated-cyan: hsl(167, 35%, 54%);
  --dark-blue: hsl(205, 41%, 21%);
  --grayish-dark-blue: hsl(245, 10%, 22%);
  --very-light-grey: hsl(0, 0%, 98%);
  --light-grey: hsl(240, 2%, 92%);
  --bright-red: hsl(0, 90%, 57%);
  --border-color: hsla(245, 10%, 22%, 0.1);
  --white: hsl(0, 0%, 100%);
}
