<main class="contact">
  <div class="contact__info">
    <h1>Get in Touch</h1>
    <div>
      <p>
        I’d love to hear about what you’re working on and how I could help. I’m
        currently looking for a new role and am open to a wide range of
        opportunities. My preference would be to find a position in a company
        around Johannesburg. But I’m also happy to hear about opportunites that
        don’t fit that description. I’m a hard-working and positive person who
        will always approach each task with a sense of purpose and attention to
        detail. Please do feel free to check out my online profiles below and
        get in touch using the form.
      </p>
      <ul>
        @for(social of socials; track $index) {
        <li>
          <a><img [src]="social.src" [alt]="social.name" /></a>
        </li>
        }
      </ul>
    </div>
  </div>
  <form class="contact__form">
    <h2>contact me</h2>
    <section>
      <div>
        <label>name</label>
        <input type="text" placeholder="Enter name" />
      </div>
      <div>
        <label>email address</label>
        <input type="email" placeholder="Enter email" />
      </div>
      <div>
        <label>message</label>
        <textarea placeholder="How can I help you?"></textarea>
      </div>
      <button>send message</button>
    </section>
  </form>
</main>
