<main class="info">
  <img
    src="/assets/profile-image-mobile.jpeg"
    class="info__image-mobile"
    alt="profile-image"
  />
  <img
    src="/assets/profile-image-tablet.jpeg"
    class="info__image-tablet"
    alt="profile-tablet"
  />
  <img
    src="/assets/profile-image-desktop.jpeg"
    class="info__image-desktop"
    alt="profile-image"
  />
  <div class="info__description">
    <h1>about me</h1>
    <p>
      I am an aspiring software engineer based in South Africa, seeking a new
      role where I can contribute to an innovative team. My expertise lies in
      designing scalable systems, developing RESTful APIs, and creating
      efficient backend solutions using Java and Spring Boot. I also have
      experience with front-end development, particularly with Angular, ensuring
      seamless integration between client and server-side logic. I'm adaptable
      to new technologies and always eager to learn whatever tools are necessary
      for the job. Feel free to take a look at my projects – I'd love to hear
      from you!
    </p>
    <a routerLink="/projects">
      <button>go to portfolio</button>
    </a>
  </div>
</main>
<app-to-contact-page />
