<main class="home">
  <div class="home__info">
    <p>Hi, I am</p>
    <h1>Karabo Gamteni</h1>
    <p>and I am an aspiring</p>
    <h1>software engineer</h1>
    <p>
      I am passionate about creating innovative solutions through clean,
      efficient code. With a strong foundation in programming languages,
      frameworks, and software development methodologies, I am eager to tackle
      complex challenges and continuously improve my skills. My goal is to grow
      as a developer while making a positive difference in the world through
      technology.
    </p>
  </div>
  <a routerLink="/info" class="home__toAbout"> about me </a>
</main>
<app-to-contact-page />
